@use 'utilities/colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: $mainColor;
	font-family: 'Roboto', sans-serif;
	color: $textColor;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.underline {
	width: 100%;
	height: 1px;
	background-color: $secondColor;
}

.heading {
	font-size: 4rem;
	font-weight: 300;
	color: $thirdColor;
}

.section-margin {
	margin-top: 10em;
}

.section-padding {
	padding: 6em 3em;
}

// navigation

.navbar {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	padding: 0 1em;
	height: 100px;
	width: 100%;
	background-color: $mainColor;
	z-index: 100;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	&__nav-img {
		width: 200px;
	}

	&__nav-list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(100%);
		width: 100%;
		height: 100vh;
		list-style: none;
		background-color: $mainColor;
		transition: transform 0.3s;
		z-index: 20;
	}

	&__nav-list-item a {
		font-size: 2rem;
		text-decoration: none;
		color: $textColor;
		transition: color 0.2s;
	}

	&__nav-list-item a:hover {
		color: $thirdColor;
	}

	&__nav-btn {
		position: relative;
		width: 50px;
		height: 50px;
		border: none;
		background-color: transparent;
		cursor: pointer;
		z-index: 100;
		transition: transform 0.3s;
		overflow: hidden;
	}

	&__nav-btn-line {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 75%;
		height: 3px;
		background-color: $thirdColor;
		border-radius: 3px;
		animation: navCross 1s forward;
		transition: 0.3s;

		&--second {
			top: 75%;
		}

		&--third {
			top: 25%;
		}
	}
}

.active {
	transform: translateX(0);
}

.second-active {
	.navbar {
		&__nav-btn-line {
			&--first {
				transform: translateX(-300%);
			}
			&--second {
				transform: rotate(-45deg);
				top: 45%;
				left: 12%;
			}
			&--third {
				transform: rotate(45deg);
				left: 12%;
				top: 45%;
			}
		}
	}
}

// header
.header {
	position: relative;
	margin-top: 100px;
	height: 300px;
	background-image: url('../../dist/img/magnus-mini.jpg');
	background-position: center;
	background-size: cover;

	&__box-img {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__img {
		width: 75%;
		z-index: 10;
	}
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

// main
.main {
	// margin-top: 4em;
	.meet-us {
		&__text {
			margin: 3em 0;
			font-size: 1.8rem;
			font-weight: 300;
			line-height: 1.7em;
		}

		&__link {
			font-size: 1.8rem;
			color: $textColor;
			text-decoration: none;
			transition: color 0.2s;
		}

		&__link:hover {
			color: $thirdColor;
		}

		&__video-box {
			margin-top: 8em;
		}

		&__video {
			width: 100%;
			height: 300px;
		}
	}

	.features {
		margin-top: 8em;

		&__feature-icon {
			width: 100px;
		}

		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			margin: 5em 0;
		}

		&__feature-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 3em 0;
			width: 300px;
		}

		&__container-text {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 1em;
			text-align: center;
		}

		&__feature-title {
			margin-top: 1em;
			font-size: 2.3rem;
			font-weight: normal;
		}

		&__feature-text {
			font-size: 1.6rem;
			margin-top: 1em;
			font-weight: lighter;
		}

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 3em 0;
		}

		&__second-heading {
			font-size: 2.3rem;
			font-weight: normal;
		}

		&__portfolio-link {
			position: relative;
			margin: 3em 0;
			padding: 1em 5em;
			font-size: 1.9rem;
			color: $textColor;
			border: 2px solid $secondColor;
			border-radius: 10px;
			text-decoration: none;
			overflow: hidden;
			z-index: 2;
		}

		&__portfolio-link::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			background: linear-gradient(
				137deg,
				rgba(239, 31, 114, 1) 26%,
				rgba(99, 204, 237, 1) 84%
			);
			transition: 0.2s;
			z-index: -1;
		}

		&__portfolio-link:hover::before {
			left: 0%;
		}
	}
}

// about us

.aboutus {
	&__text-box {
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 1.7em;
		margin: 3em 0;
	}

	&__team-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	&__team-photo {
		position: relative;
		width: 300px;
		margin: 0.5em;
		overflow: hidden;
	}

	&__photo {
		width: 100%;
	}

	&__team-photo::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		transition: top 0.2s;
	}

	&__photo-text {
		position: absolute;
		transform: translateY(50%);
		bottom: -50%;
		transition: bottom 0.2s;
		transition-delay: 0.1s;
		text-align: center;
		font-size: 1.7rem;
		padding: 0 1em;
	}

	&__team-photo:hover::before {
		top: 0%;
	}
	&__team-photo:hover &__photo-text {
		bottom: 50%;
	}
}

// portfolio

.portfolio {
	&__container {
		padding: 2em;
	}

	&__text {
		margin: 3em 0;
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 1.7em;
	}

	&__video-box {
		width: 100%;
	}

	&__video {
		width: 100%;
		height: 300px;
	}
}

// contact

.contact {
	&__text {
		margin: 3em 0;
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 1.7em;
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__info {
		margin-top: 4em;
	}

	&__info-item {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
		font-size: 1.8rem;
	}

	&__form-box {
		margin-top: 4em;
		width: 100%;
		max-width: 550px;
	}

	&__icon {
		margin-right: 1em;
		width: 30px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
	}

	&__error-text {
		display: none;
		margin: 0.5em;
		font-size: 1.2rem;
		color: $formErrorColor;
	}

	&__box input,
	&__box textarea {
		padding: 1em;
		font-size: 1.6rem;
		font-family: inherit;
		border-radius: 8px;
	}

	&__box.error input,
	&__box.error textarea {
		background-color: $formErrorColor;
	}
	&__box.error &__error-text {
		display: block;
	}

	&__box textarea {
		resize: vertical;
		min-height: 150px;
	}

	&__btn {
		position: relative;
		margin-top: 2em;
		padding: 1em 2em;
		background: none;
		font-size: 1.6rem;
		font-weight: 600;
		color: $textColor;
		border-radius: 10px;
		border: 1px solid $secondColor;
		cursor: pointer;
		overflow: hidden;
		z-index: 1;
	}

	&__btn::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		background: linear-gradient(
			137deg,
			rgba(239, 31, 114, 1) 26%,
			rgba(99, 204, 237, 1) 84%
		);
		transition: left 0.1s;
		z-index: -1;
	}
	&__btn:hover::before {
		left: 0;
	}

	&__popup {
		position: absolute;
		top: -250px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 200px;
		width: 350px;
		padding: 1em;
		text-align: center;
		background-color: $mainColor;
		border: 2px solid $thirdColor;
		border-radius: 8px;
		transition: top 0.2s;
		z-index: 100;
	}

	&__popup.show-popup {
		top: 550px;
	}

	&__popup-text,
	&__popup-button {
		margin: auto;
	}

	&__popup-text {
		font-size: 2rem;
	}

	&__popup-button {
		padding: 1em 2em;
		background: none;
		border: 1px solid $thirdColor;
		border-radius: 8px;
		color: $textColor;
		cursor: pointer;
	}
}

// footer

.footer {
	position: sticky;
	top: 100%;

	&__info-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 3em 0;
	}

	&__info-box-menu {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 4em 0;
	}

	&__info-text {
		padding: 1em;
		font-size: 1.8rem;
		text-decoration: none;
		color: #727272;
		transition: color 0.2s;

		&:hover {
			color: $thirdColor;
		}
	}

	&__info-logo {
		width: 250px;
	}

	&__link {
		text-decoration: none;
	}

	&__img {
		margin: 0 0.5em;
		width: 35px;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.5;
		}
	}

	&__copyright-info {
		padding: 2em;
		font-size: 1.4rem;
		text-align: center;
		color: #9d9d9d;
	}
}

// media

@media (min-width: 768px) {
	.wrapper {
		padding: 0 2em;
	}
	.navbar {
		display: flex;
		align-items: center;

		&__nav {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;
		}

		&__nav-btn {
			display: none;
		}

		&__nav-list {
			position: static;
			height: auto;
			display: flex;
			align-items: center;
			flex-direction: row;
			transform: translateX(0);
			width: auto;
			list-style: none;
			background-color: $mainColor;
			transition: transform 0.3s;
		}

		&__nav-list-item {
			padding: 0 1em;
		}
	}

	.header {
		height: 600px;
		background-image: url('../../dist/img/logo-big.jpg');
		&__img {
			width: 50%;
		}
	}

	.main {
		.meet-us {
			&__video-box {
				height: 500px;
			}

			&__video {
				height: 100%;
			}
		}
		.features {
			&__heading {
				font-size: 2.2rem;
			}

			&__text,
			&__link {
				font-size: 1.3rem;
			}

			&__video {
				height: 700px;
			}

			&__feature-icon {
				width: 100px;
			}

			&__container {
				display: flex;
				justify-content: space-around;
				align-items: stretch;
				flex-direction: row;
			}

			&__feature-box {
				display: flex;
				flex-direction: column;
				width: 250px;
			}

			&__container-text {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding: 1em;
			}
		}
	}

	.aboutus {
		&__team-photo {
			&--last {
				width: 50%;
			}
		}
	}

	.portfolio {
		&__video {
			width: 100%;
			height: 500px;
		}
	}

	.contact {
		&__container {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}

		&__info {
			margin-left: 3em;
			order: 1;
		}

		&__form-box {
			max-width: 500px;
		}
	}

	.footer {
		&__info-box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			max-width: 100%;
		}

		&__social-media,
		&__info-box-menu {
			width: 250px;
		}

		&__link {
			margin: 0.3em;
		}

		&__link:last-child {
			margin-right: 0;
		}
		&__link:first-child {
			margin-left: 0;
		}
	}
}

@media (min-width: 992px) {
	.header {
		height: 700px;
	}

	.aboutus {
		&__team-container {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
		}

		&__team-photo {
			position: relative;
			width: 30%;
			overflow: hidden;

			&--last {
				width: 45%;
			}
		}
	}

	.portfolio {
		&__video {
			width: 100%;
			height: 500px;
		}
	}
	.contact {
		&__info {
			margin-left: 0;
		}

		&__popup {
			height: 200px;
			width: 500px;
		}

		&__popup.show-popup {
			top: 150px;
		}
	}
}
